<%- layout("layout/boilerplate.ejs") -%>

    <body>
        <div class="alert alert-danger text-center" role="alert">
            <p>
                <%=message%>
            </p>
        </div>
    </body>